{{#if article.0.filteredBy}}
<div>
    Filtered by "{{article.0.filteredBy}}"
    <button id="clear" class="button">Clear</button>
</div>
{{#if article.1.latest}}
<div id="updated" class="has-background-dark has-text-primary">Last updated {{article.1.latest}}</div>
{{/if}}
{{/if}}

{{#if article.0.latest}}
<div id="updated" class="has-background-dark has-text-primary">Last updated {{article.0.latest}}</div>
{{/if}}


{{#each article}}
{{#if title}}
<div class="article" id={{this._id}}>
    <img class="article-icon" src={{this.imgsrc}} />
    <a href={{this.link}} target="_blank" class="has-text-primary">{{this.title}}</a>
    <p>{{this.summary}}</p>
    {{#each comments}}
    <div class="comments hidden">
        <p class="comment author"><strong>{{this.author}}</strong> on <span class="date">{{this.date}}</span></p>
        <p class="comment">{{this.body}}</p>
        <button class="button is-danger delete-button" id={{this._id}}>Delete</button>
    </div>
    {{/each}}
    <hr />
</div>
{{/if}}
{{/each}}

{{!-- MODAL --}}
<div id="modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <article class="media">
                <div class="media-content" id="media-content">
                </div>
            </article>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{{!-- END MODAL --}}